<div class="body_text">
  <h1><center>Decrypted Word/Phrase:</center></h1>
  <br>
  <h1>
<h2 class="white_text"><center><%= @result %></center></h2>
  <br><br><br><br>
  <center><img src="../img/tone_color_table.png" alt="correspondence table for alphabet" id="resize_tone_color_table"></center>
  <br><br>
  <center><a href="/"><button type="submit" class="btn btn-danger bottomButton">New Conversion</button></a></center>
</div>
