<div class="body_text">
<h1><center>Encrypted Melody:</center></h1>

<button type="button" id="start_button">start</button>
<br><br><br>
<br>
<div id="encrypted_div">
  <h2 class="white_text"><center><%= @result %></center></h2>
</div>

<br><br><br><br><br><br><br><br>

<center><a href="/"><button type="submit" class="btn btn-danger bottomButton">New Conversion</button></a></center>
</div>
