<h1><center>Encrypted Melody</center></h1>

<h2><center><%= @result %></center></h2>
<br>
<center><a href="/"><button type="submit" class="btn btn-danger bottomButton">New Conversion</button></a></center>
