<div class="body_text">
  <h1><center>Decrypted Word/Phrase:</center></h1>
  <br>
  <h1>
    <audio id="b">
      <source src="bnote.wav" type="audio/wav">
    </audio>

<h2 class="white_text"><center><%= @result %></center></h2>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <center><a href="/"><button type="submit" class="btn btn-danger bottomButton">New Conversion</button></a></center>
