<div class="body_text">
<h1><center>Encrypted Melody:</center></h1>

<h2 class="white_text"><center><%= @result %></center></h2>
<br><br><br><br><br><br><br><br>
<center><a href="/"><button type="submit" class="btn btn-danger bottomButton">New Conversion</button></a></center>
</div>
