<h1 class="white_text">Encode Words into Melodies</h1>
<br>
<div class="well" id="background_blue">
<p class="p_format blue_text">This app allows you to send secret messages to your friends, disguised as a melody. When you input a word or phrase, the letters will be converted one at a time into corresponding music notes. To learn more about where this cryptogram comes from, check out the link to our website.</p>
</div>
<br>
<div class="body_text">
<form action="/encode">
  <div class="form-group">
    <label for="textInput"><span class="fontResize">Enter text to receive a melody:</span></label>
    <br><br>
    <input id="textInput" name="textInput" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-danger bottomButton">Convert!</button>
</form>

<form action="/decode">
  <div class="form-group">
    <label for="textInput"><span class="fontResize">Enter the melody and decipher the word(s):</span></label>
    <br><br>
    <input id="textInput" name="textInput_two" class="form-control" type="text" pattern="+[a-zA-Z]#">
  </div>
  <button type="submit" class="btn btn-danger bottomButton">Convert!</button>
</form>

</div>
