<h1 class="white_text">Encode Words into Melodies</h1>
<br>
<div class="well" id="background_blue">
<center><p class="p_format blue_text">MELODIC ENCRYPTION APP | BETA V.0.2</p></center>
<br>
<p class="p_format blue_text">This app will help you to send and receive secret messages disguised as a melody. When someone inputs a word or phrase, each letter is converted into a corresponding music note. To learn more about musical cryptography, check out the link to our website.</p>
</div>
<br>
<div class="body_text">
<form action="/encode">
  <div class="form-group">
    <label for="textInput"><span class="fontResize">Enter text to receive a melody:</span></label>
    <br><br>
    <input id="textInput" name="textInput" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-danger bottomButton">Convert!</button>
</form>

<form action="/decode">
  <div class="form-group">
    <label for="textInput"><span class="fontResize">Enter the melody and decipher the word(s):</span></label>
    <br><br>
    <input id="textInput" name="textInput_two" class="form-control" type="text" pattern="+[a-zA-Z]#">
  </div>
  <button type="submit" class="btn btn-danger bottomButton">Convert!</button>
</form>

<a href="/keyboard">Go to keyboard</a>

</div>
