<h1>Cryptogram Template</h1>
<form action="/encode">
  <div class="form-group">
    <label for="textInput"><span class="fontResize">Enter your text:</span></label>
    <br><br>
    <input id="textInput" name="textInput" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-danger bottomButton">Convert!</button>
</form>
