<center><h1 class="white_text">Encode Words into Melodies</h1></center>
<br>
<div class="well" id="background_blue">
<center><p class="p_format blue_text">MELODIC ENCRYPTION APP | BETA V.0.2</p></center>
<br>
<p class="p_format blue_text">This app will help you to send and receive secret messages disguised as a melody. When someone inputs a word or phrase, each letter is converted into a corresponding music note. To learn more about musical cryptography, check out the link to our website.</p>
</div>
<br>
<div class="body_text">
<div class="row">
  <form action="/encode">
    <div class="col-md-6">
      <label for="textInput"><span class="fontResize">Enter text to receive a melody:</span></label>
    </div>
    <div class="col-md-4">
      <input id="textInput" name="textInput" class="form-control" type="text">
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-danger bottomButton">Convert!</button>
    </div>
  </form>
</div>

<form action="/decode">
  <div class="row">
    <div class="col-md-6">
      <label for="textInput"><span class="fontResize">Enter melody and decipher the word(s):</span></label>
    </div>
    <div class="col-md-4">
      <input id="textInput" name="textInput_two" class="form-control" type="text" pattern="+[a-zA-Z]#">
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-danger bottomButton">Convert!</button>
    </div>
  </div>
</form>

</div>
