<center><h1 class="white_text">Encode Words into Melodies</h1></center>
<br>
<div class="well" id="background_black">
<center><p class="p_format">MELODIC ENCRYPTION APP | BETA V.0.2</p></center>
<br>

<div class="body_text">
<div class="row">
  <form action="/encode">
    <div class="col-md-6">
      <label for="textInput"><span class="fontResize">Enter text to receive a melody:</span></label>
    </div>
    <div class="col-md-4">
      <input id="textInput" name="textInput" class="form-control" type="text">
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-danger bottomButton">Convert!</button>
    </div>
  </form>
</div>

<form action="/decode">
  <div class="row">
    <div class="col-md-6">
      <label for="textInput"><span class="fontResize">Enter melody and decipher the word(s):</span></label>
    </div>
    <div class="col-md-4">
      <input id="textInput" name="textInput_two" class="form-control" type="text">
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-danger bottomButton">Convert!</button>
    </div>
  </div>
</form>

</div>
</div>
<br>
