<center><h1>Keyboard Map</h1></center>
<br>
<center><h4>These four keyboard rows have been assigned to four octaves of notes of a piano. </h4></center>
<br><br>
<div class="tone_color_keys">
  <div class="row">
    <div class="col-md-1 c4">1</div>
    <div class="col-md-1 c4Sharp">2</div>
    <div class="col-md-1 d4">3</div>
    <div class="col-md-1 d4Sharp">4</div>
    <div class="col-md-1 e4">5</div>
    <div class="col-md-1 f4">6</div>
    <div class="col-md-1 f4Sharp">7</div>
    <div class="col-md-1 g4">8</div>
    <div class="col-md-1 g4Sharp">9</div>
    <div class="col-md-1 a4">0</div>
    <div class="col-md-1 a4Sharp">-</div>
    <div class="col-md-1 b4">=</div>
  </div>
  <div class="row">
    <div class="col-md-1 c3">q</div>
    <div class="col-md-1 c3Sharp">w</div>
    <div class="col-md-1 d3">e</div>
    <div class="col-md-1 d3Sharp">r</div>
    <div class="col-md-1 e3">t</div>
    <div class="col-md-1 f3">y</div>
    <div class="col-md-1 f3Sharp">u</div>
    <div class="col-md-1 g3">i</div>
    <div class="col-md-1 g3Sharp">o</div>
    <div class="col-md-1 a3">p</div>
    <div class="col-md-1 a3Sharp">[</div>
    <div class="col-md-1 b3">]</div>
  </div>
  <div class="row">
    <div class="col-md-1 c2">a</div>
    <div class="col-md-1 c2Sharp">s</div>
    <div class="col-md-1 d2">d</div>
    <div class="col-md-1 d2Sharp">f</div>
    <div class="col-md-1 e2">g</div>
    <div class="col-md-1 f2">h</div>
    <div class="col-md-1 f2Sharp">j</div>
    <div class="col-md-1 g2">k</div>
    <div class="col-md-1 g2Sharp">l</div>
    <div class="col-md-1 a2">;</div>
    <div class="col-md-1 a2Sharp">'</div>
    <div class="col-md-1 b2">Ent</div>
  </div>
  <div class="row">
    <div class="col-md-1 c1">z</div>
    <div class="col-md-1 c1Sharp">x</div>
    <div class="col-md-1 d1">c</div>
    <div class="col-md-1 d1Sharp">v</div>
    <div class="col-md-1 e1">b</div>
    <div class="col-md-1 f1">n</div>
    <div class="col-md-1 f1Sharp">m</div>
    <div class="col-md-1 g1">,</div>
    <div class="col-md-1 g1Sharp">.</div>
    <div class="col-md-1 a1">/</div>
    <div class="col-md-1 a1Sharp"><</div>
    <div class="col-md-1 b1">></div>
  </div>
</div>
<br>
<center><input type="text" class="keyboard" placeholder="Click here to use keyboard"></center>
 <br>
