
<div class="row">
  <div class="col-md-1 c1">C</div>
  <div class="col-md-1 c1Sharp">C#</div>
  <div class="col-md-1 d1">D</div>
  <div class="col-md-1 d1Sharp">D#</div>
  <div class="col-md-1 e1">E</div>
  <div class="col-md-1 f1">F</div>
  <div class="col-md-1 f1Sharp">F#</div>
  <div class="col-md-1 g1">G</div>
  <div class="col-md-1 g1Sharp">G#</div>
  <div class="col-md-1 a1">A</div>
  <div class="col-md-1 a1Sharp">A#</div>
  <div class="col-md-1 b1">B</div>
</div>
<div class="row">
  <div class="col-md-1 c2">C</div>
  <div class="col-md-1 c2Sharp">C#</div>
  <div class="col-md-1 d2">D</div>
  <div class="col-md-1 d2Sharp">D#</div>
  <div class="col-md-1 e2">E</div>
  <div class="col-md-1 f2">F</div>
  <div class="col-md-1 f2Sharp">F#</div>
  <div class="col-md-1 g2">G</div>
  <div class="col-md-1 g2Sharp">G#</div>
  <div class="col-md-1 a2">A</div>
  <div class="col-md-1 a2Sharp">A#</div>
  <div class="col-md-1 b2">B</div>
</div>
<div class="row">
  <div class="col-md-1 c3">C</div>
  <div class="col-md-1 c3Sharp">C#</div>
  <div class="col-md-1 d3">D</div>
  <div class="col-md-1 d3Sharp">D#</div>
  <div class="col-md-1 e3">E</div>
  <div class="col-md-1 f3">F</div>
  <div class="col-md-1 f3Sharp">F#</div>
  <div class="col-md-1 g3">G</div>
  <div class="col-md-1 g3Sharp">G#</div>
  <div class="col-md-1 a3">A</div>
  <div class="col-md-1 a3Sharp">A#</div>
  <div class="col-md-1 b3">B</div>
</div>
<div class="row">
  <div class="col-md-1 c4">C</div>
  <div class="col-md-1 c4Sharp">C#</div>
  <div class="col-md-1 d4">D</div>
  <div class="col-md-1 d4Sharp">D#</div>
  <div class="col-md-1 e4">E</div>
  <div class="col-md-1 f4">F</div>
  <div class="col-md-1 f4Sharp">F#</div>
  <div class="col-md-1 g4">G</div>
  <div class="col-md-1 g4Sharp">G#</div>
  <div class="col-md-1 a4">A</div>
  <div class="col-md-1 a4Sharp">A#</div>
  <div class="col-md-1 b4">B</div>
</div>


<input type="text" class="keyboard" placeholder="click here to use keyboard">
