<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <title>Musical Cryptogram</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Audiomancy App</h1>
      </div>
      <img src="../img/Mandala_Color.jpg" alt="tone color mandala" id="resizeImage">
      <%= yield %>
    </div>
    <center><h2><a href="http://www.audiomancy.net/new-page/">Click here to read more about the app</a></h2></center>
  </body>
</html>
