<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <script src="js/jquery-3.1.1.js"></script>
    <script src="js/scripts.js"></script>
    <title>Musical Cryptogram</title>
  </head>
  <body>
    <div class="container">
      <a href="/"><div class="jumbotron">
        <h1>Audiomancy App</h1>
      </div></a>
      <%= yield %>
    </div>
    <center><a href="/keyboard"><img src="../img/Mandala_Color.jpg" alt="tone color mandala" id="resizeImage"></a></center>
    <div class="bottom_of_page white_text">design by ezra sandzer-bell | github.com/ezrasandzerbell</div>
  </body>
</html>
