<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Bungee|Playfair+Display" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <script src="js/jquery-3.1.1.js"></script>
    <script src="js/scripts.js"></script>
    <title>Musical Cryptogram</title>
  </head>
  <body>
    <div class="container">
      <a href="/"><div class="jumbotron">
        <img src="../img/title.png" alt="" id="resizeTitle"/>
      </div></a>
      <%= yield %>
    </div>
    <center><span style="font-size: 20px; font-family: 'Playfair Display', serif;"><a href="http://www.audiomancy.net">AUDIOMANCY.NET</a> | All content by Ezra Sandzer-Bell</span></center>


  </body>
</html>
