body {
  background-color: black;
}

.jumbotron {
  color: black;
  text-align: center;
  background-color: #0099cc;
  height: 25%;
  padding-top: 10px;
}

.jumbotron h1 {
  font-size: 6em;
  color: white;
  font-family: 'Bungee', cursive;
}

.container {
  margin-bottom: 40px;
}

h1 {
  vertical-align: top;
}

#resizeImage {
  height: 310px;
}

#resizeImageTwo {
  width: 450px;
}

.fontResize {
  font-size: 25px;
}

.bottomButton {
  margin-bottom: 50px;
  font-size: 30px;
}

.p_format {
  font-family: sans-serif;
  font-size: 20px;
}

.body_text {
  color: #0099cc;
}

.bottom_of_page {
  padding-bottom: 40px;
  text-align: center;
  font-size: 20px;
}

.white_text {
  color: white;
}

.visit_page_font {
  margin-top: 20px;
  font-size: 20px;
  margin-left: 6%;
  font-family: 'Bungee', cursive;
}

#background_blue {
  background-color: #0099cc;
  text-align: justify;
}

.blue_text {
  color: white;
}
