body {
  background-color: black;
  color: white;
}

.jumbotron {
  color: black;
  text-align: center;
  background-color: white;
}

h1 {
  vertical-align: top;
}

#resizeImage {
  height: 450px;
  margin-left: 22%;
}

.fontResize {
  font-size: 25px;
}

.bottomButton {
  margin-bottom: 50px;
}

.c {
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: white;
  border-style: dotted;
  border-color: #ff4000;
  border-width: thin;
  font-family: 'Bungee', cursive;
  }

.c:hover {

  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: white;
  border-style: solid;
  border-color: #ff0000;
  border-width: thin;
  font-family: 'Bungee', cursive;
}

.c:active {
  -webkit-box-shadow:inset 0px 0px 0px 2px #FF0000;
   -moz-box-shadow:inset 0px 0px 0px 2px #FF0000;
   box-shadow:inset 0px 0px 0px 2px #FF0000;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: white;
  border-style: solid;
  border-color: #FF0000;
  font-family: 'Bungee', cursive;
}


.cSharp {
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  border-style: dotted;
  border-color: #ff4000;
  border-width: thin;
  font-family: 'Bungee', cursive;
}

.cSharp:hover {
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: white;
  border-style: solid;
  border-color: #ff4000;
  border-width: thin;
  font-family: 'Bungee', cursive;
}

.cSharp:active {
  -webkit-box-shadow:inset 0px 0px 0px 2px #ff4000;
   -moz-box-shadow:inset 0px 0px 0px 2px #ff4000;
   box-shadow:inset 0px 0px 0px 2px #ff4000;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: white;
  border-style: solid;
  border-color: #ff4000;
  font-family: 'Bungee', cursive;
}

.d {
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  border-style: dotted;
  border-color: #ffa500;
  border-width: thin;
  font-family: 'Bungee', cursive;
}

.d:hover {
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: white;
  border-style: solid;
  border-color: #ffa500;
  border-width: thin;
  font-family: 'Bungee', cursive;
}

.d:active {
  -webkit-box-shadow:inset 0px 0px 0px 2px #ffa500;
   -moz-box-shadow:inset 0px 0px 0px 2px #ffa500;
   box-shadow:inset 0px 0px 0px 2px #ffa500;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: white;
  border-style: solid;
  border-color: #ffa500;
  font-family: 'Bungee', cursive;
}


.dSharp {
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  border-style: dotted;
  border-color: #ffce00;
  border-width: thin;
  font-family: 'Bungee', cursive;
}

.dSharp:hover {
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: white;
  border-style: solid;
  border-color: #ffce00;
  border-width: thin;
  font-family: 'Bungee', cursive;
}

.dSharp:active {
  -webkit-box-shadow:inset 0px 0px 0px 2px #ffce00;
   -moz-box-shadow:inset 0px 0px 0px 2px #ffce00;
   box-shadow:inset 0px 0px 0px 2px #ffce00;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: white;
  border-style: solid;
  border-color: #ffce00;
  font-family: 'Bungee', cursive;
}

.e {
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  border-style: dotted;
  border-color: #FFFF00;
  border-width: thin;
  font-family: 'Bungee', cursive;
}

.e:hover {
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: white;
  border-style: solid;
  border-color: #FFFF00;
  border-width: thin;
  font-family: 'Bungee', cursive;
}

.e:active {
  -webkit-box-shadow:inset 0px 0px 0px 2px #FFFF00;
   -moz-box-shadow:inset 0px 0px 0px 2px #FFFF00;
   box-shadow:inset 0px 0px 0px 2px #FFFF00;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: white;
  border-style: solid;
  border-color: #FFFF00;
  font-family: 'Bungee', cursive;
}

.f {
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  border-style: dotted;
  border-color: #bdff00;
  border-width: thin;
  font-family: 'Bungee', cursive;
}

.f:hover {
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: white;
  border-style: solid;
  border-color: #bdff00;
  border-width: thin;
  font-family: 'Bungee', cursive;
}

.f:active {
  -webkit-box-shadow:inset 0px 0px 0px 2px #bdff00;
   -moz-box-shadow:inset 0px 0px 0px 2px #bdff00;
   box-shadow:inset 0px 0px 0px 2px #bdff00;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: white;
  border-style: solid;
  border-color: #bdff00;
  font-family: 'Bungee', cursive;
}

.fSharp {
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  border-style: dotted;
  border-color: #008000;
  border-width: thin;
  font-family: 'Bungee', cursive;
}

.fSharp:hover {
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: white;
  border-style: solid;
  border-color: #008000;
  border-width: thin;
  font-family: 'Bungee', cursive;
}

.fSharp:active {
  -webkit-box-shadow:inset 0px 0px 0px 2px #008000;
   -moz-box-shadow:inset 0px 0px 0px 2px #008000;
   box-shadow:inset 0px 0px 0px 2px #008000;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: white;
  border-style: solid;
  border-color: #008000;
  font-family: 'Bungee', cursive;
}

.g {
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  border-style: dotted;
  border-color: #0fbfa9;
  border-width: thin;
  font-family: 'Bungee', cursive;
}

.g:hover {
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: white;
  border-style: solid;
  border-color: #0fbfa9;
  border-width: thin;
  font-family: 'Bungee', cursive;
}

.g:active {
  -webkit-box-shadow:inset 0px 0px 0px 2px #0fbfa9;
   -moz-box-shadow:inset 0px 0px 0px 2px #0fbfa9;
   box-shadow:inset 0px 0px 0px 2px #0fbfa9;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: white;
  border-style: solid;
  border-color: #0fbfa9;
  font-family: 'Bungee', cursive;
}


.gSharp {
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  border-style: dotted;
  border-color: #0000ff;
  border-width: thin;
  font-family: 'Bungee', cursive;
}

.gSharp:hover {
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: white;
  border-style: solid;
  border-color: #0000ff;
  border-width: thin;
  font-family: 'Bungee', cursive;
}

.gSharp:active {
  -webkit-box-shadow:inset 0px 0px 0px 2px #0000ff;
   -moz-box-shadow:inset 0px 0px 0px 2px #0000ff;
   box-shadow:inset 0px 0px 0px 2px #0000ff;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: white;
  border-style: solid;
  border-color: #0000ff;
  font-family: 'Bungee', cursive;
}

.a {
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  border-style: dotted;
  border-color: #4b0082;
  border-width: thin;
  font-family: 'Bungee', cursive;
}

.a:hover {
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: white;
  border-style: solid;
  border-color: #4b0082;
  border-width: thin;
  font-family: 'Bungee', cursive;
}

.a:active {
  -webkit-box-shadow:inset 0px 0px 0px 2px #4b0082;
   -moz-box-shadow:inset 0px 0px 0px 2px #4b0082;
   box-shadow:inset 0px 0px 0px 2px #4b0082;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: white;
  border-style: solid;
  border-color: #4b0082;
  font-family: 'Bungee', cursive;
}

.aSharp {
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  border-style: dotted;
  border-color: #ab6bfd;
  border-width: thin;
  font-family: 'Bungee', cursive;
}

.aSharp:hover {
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: white;
  border-style: solid;
  border-color: #ab6bfd;
  border-width: thin;
  font-family: 'Bungee', cursive;
}

.aSharp:active {
  -webkit-box-shadow:inset 0px 0px 0px 2px #ab6bfd;
   -moz-box-shadow:inset 0px 0px 0px 2px #ab6bfd;
   box-shadow:inset 0px 0px 0px 2px #ab6bfd;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: white;
  border-style: solid;
  border-color: #ab6bfd;
  font-family: 'Bungee', cursive;
}

.b {
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  border-style: dotted;
  border-color: #ee82ee;
  border-width: thin;
  font-family: 'Bungee', cursive;
}

.b:hover {
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: white;
  border-style: solid;
  border-color: #ee82ee;
  border-width: thin;
  font-family: 'Bungee', cursive;
}

.b:active {
  -webkit-box-shadow:inset 0px 0px 0px 2px #ee82ee;
   -moz-box-shadow:inset 0px 0px 0px 2px #ee82ee;
   box-shadow:inset 0px 0px 0px 2px #ee82ee;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: white;
  border-style: solid;
  border-color: #ee82ee;
  font-family: 'Bungee', cursive;
}
